@page
@model TruckLoadingsApp.Pages.TruckTrips.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TruckTrip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TruckTrip.TripId" />
            <div class="form-group">
                <label asp-for="TruckTrip.StatingTime" class="control-label"></label>
                <input asp-for="TruckTrip.StatingTime" class="form-control" />
                <span asp-validation-for="TruckTrip.StatingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckTrip.EndingTime" class="control-label"></label>
                <input asp-for="TruckTrip.EndingTime" class="form-control" />
                <span asp-validation-for="TruckTrip.EndingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckTrip.Status" class="control-label"></label>
                <select asp-for="TruckTrip.Status" class="form-control"></select>
                <span asp-validation-for="TruckTrip.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
